body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:613px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:59px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:103px;
  width:110px;
  height:58px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:106px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:2px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:188px;
  width:442px;
  height:1px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:161px;
  width:1px;
  height:28px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:188px;
  width:1px;
  height:32px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:188px;
  width:1px;
  height:32px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:57px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:220px;
  width:118px;
  height:56px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:114px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:57px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:220px;
  width:118px;
  height:56px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:114px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:57px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:220px;
  width:118px;
  height:56px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:114px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:188px;
  width:1px;
  height:32px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:188px;
  width:1px;
  height:32px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:57px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:220px;
  width:118px;
  height:56px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:114px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:51px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:300px;
  width:105px;
  height:50px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:372px;
  width:77px;
  height:17px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:415px;
  width:77px;
  height:17px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:300px;
  width:133px;
  height:50px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:51px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:300px;
  width:105px;
  height:50px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:84px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:300px;
  width:77px;
  height:83px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:30px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
