body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:353px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:176px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:55px;
  width:300px;
  height:175px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
